<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvlnuLXqOvnRu0yOBz1Bd60bUrhJNscrg</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>957081475866-dbpb1i6v9r5ptq12vd2aejoqnk4imkl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957081475866-dbpb1i6v9r5ptq12vd2aejoqnk4imkl0</string>
	<key>GCM_SENDER_ID</key>
	<string>957081475866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Siddharth.FirebaseDemoApp</string>
	<key>PROJECT_ID</key>
	<string>firstfirebaseapp-f8b00</string>
	<key>STORAGE_BUCKET</key>
	<string>firstfirebaseapp-f8b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:957081475866:ios:c7d81207244e8c22</string>
	<key>DATABASE_URL</key>
	<string>https://firstfirebaseapp-f8b00.firebaseio.com</string>
</dict>
</plist>
